@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red: #C8102E;
  --gold: #D4AF37;
  --black: #1C1C1C;
  --white: #F8F5F0;
  --gray: #6C757D;
}

body{
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
}

p{
  text-align: justify;
}

.btn-st{
  font-weight: 500;
}
.btn-st:hover{
  transition: 0.3s;
  font-weight: 700;

}

.tex-white{
  color: var(--white);
}

.bg-red{
    background-color: var(--red);
}

.st-btn-prim{
    background-color: var(--red);
    color: var(--gold);
}

.st-btn-accor{
    background-color: var(--red);
    color: var(--white);
}

.fade-text {
  color: var(--red);
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.main {
  background-image: url('../assets/China-Great-Wall-mountains-fog-history-architecture-dawn_1920x1080.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sec {
    padding: 60px 0;
    min-height: auto; 
}

.card-st{
  background-color: none;
}

.foot{
  color: var(--white);
}

.sanfona{
  background-color: var(--gray);
  color: var(--white);
}

.sanfona:focus{
  background-color: var(--red);
  color: var(--white);
  border: #6C757D;
}

.img-sanfona{
  width: 400px;
  height: 350px;
}

.con-carrosel{
  height: 40vh;
}

.img{
  border: #1C1C1C 3px;
  border-radius: 10px;
}

.title-pg{
  color: var(--red);
}